<div class="card">
    <div class="card-header">
        {{account.account_no}} : New {{transactionType}}
    </div>
    <div class="card-body">
        <form (ngSubmit)="onDeposit()" [formGroup]="depositForm">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" id="amount" formControlName="amount" placeholder="Amount"
                        [ngClass]="{'is-invalid': f.amount.touched && f.amount.invalid}">
                    <control-messages class="invalid-feedback" [control]="f.amount"></control-messages>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="my_reference" formControlName="my_reference"
                        placeholder="Reference"
                        [ngClass]="{'is-invalid': f.my_reference.touched && f.my_reference.invalid}">
                    <control-messages class="invalid-feedback" [control]="f.my_reference"></control-messages>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-block"
                        [class]="depositForm.valid ? 'btn-primary' : 'btn-secondary disabled'"
                        [disabled]="!depositForm.valid">
                        <app-three-o-loader [originText]="'Deposit!'"></app-three-o-loader>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
